* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom, #192428, #121a1e);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 0 10px;
}

.login-container {
    background-color: #2d383c;
    padding: 30px;
    border-radius: 8px;
    width: 100%;
    max-width: 400px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    text-align: center;
}

h2 {
    color: #fff;
    font-size: 24px;
    margin-bottom: 20px;
}

label {
    color: #fff;
    font-size: 16px;
    margin-bottom: 8px;
    display: block;
    text-align: left;
}

input[type="text"] {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
    background-color: #414c50;
    color: #fff;
    transition: border-color 0.3s;
}

input[type="text"]:focus {
    border-color: #39ace7;
    outline: none;
}

button {
    padding: 12px 20px;
    background-color: #39ace7;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0784b5;
}

button:focus {
    outline: none;
    box-shadow: 0 0 0 2px rgba(57, 172, 231, 0.5);
}

@media (max-width: 600px) {
    .login-container {
        width: 90%;
        padding: 20px;
    }

    h2 {
        font-size: 20px;
    }

    input[type="text"], button {
        font-size: 14px;
    }
}